@model IEnumerable<AssignmentV3.Models.FavoriteProgram>

@{
    ViewBag.Title = "Favorite Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 intro-text">
                        <h1>
                            @ViewBag.Title
                        </h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <br />
    <div class="container">
        <div class="section-title">
            <a href="/FavoritePrograms/Create" class="btn btn-custom btn-lg page-scroll">Create New</a>
        </div>     
        <table class="table">
            <tr>
                @*
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                *@
                <th>
                    @Html.DisplayNameFor(model => model.Program.ProgramName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Program.ProgramName)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

